.navbar-toggler {
  border: none;
}

.title-label {
  font-size: 18px;
  font-weight: bold;
}

.pcd {
  font-size: 15px;
}

table {
  font-size: 15px;
}

.txt-link {
  font-size: 16px;
}

.txt-link-p, .card-txt {
  font-size: 17px;
}
