.bg-primary, .btn-primary {
  background-color: rgb(0, 124, 195) !important;
  background: rgb(0, 124, 195) !important;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: rgb(0, 111, 176) !important;
  background: rgb(0, 111, 176) !important;
}

a {
  color: rgb(0, 124, 195);
  transition: 0.3s;
}

a:hover {
  color: rgb(0, 111, 176);
}

.navbar-toggler {
  border: none;
}

.pcd, .devise-links {
  font-size: 15px;
}

label {
  margin-bottom: 0 !important;
  font-size: 18px !important;
  // font-weight: bold !important;
}

.form-group {
  margin-bottom: 20px !important;
}

.form-control {
  height: calc(1.2em + 1.7rem);
}

.form-check-label {
  font-size: 15px !important;
}

table {
  font-size: 15px;
}

.txt-link-p, .card-txt, .txt-link {
  font-size: 16px;
}

.alert-danger {
  background: rgba(211, 24, 29, 0.6) !important;
  border-color: rgb(291, 21, 26) !important;
}

.alert-success {
  background: rgba(58, 148, 62, 0.6) !important;
  border-color: rgb(44, 112, 47) !important;
}

.close {
  font-size: 1.5rem !important;
}

.alert {
	position: absolute;
  right: 40px;
  z-index: 1;
}

.navbar  {
  padding: 0.5rem 1rem !important
}
